<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button type="button" class="btn btn-danger">
        <a href="{% url 'home' %}">
            Home
        </a>
    </button>
    <center>
        <h1>Xush Kelibsiz Kun.uz Sahifasiga</h1>
    </center>
    {% block content %}
    
    {% endblock %}    
</body>
</html>