<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        body {
            background-color: darkslateblue;
        }
        ul li{
            color: white;
            text-decoration: underline;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="text-align: center; color: darkorange">
            Assalamu alaykum xush kelibsiz
        </h1>
        <ul>
            <h3 style="color: darkorange">Bugungi Darsimizda Template yasashni ko'ramiz</h3>
            <li>
                mkdir templates
            </li>
            <li>
                str(BASE_DIR.join_path('templates')
            </li>
            <li>
                Creat home.html
            </li>
            <li>
                Class
            </li>

        </ul>
    </div>
</body>
</html>