{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

    {% for post in object_list %}
        <li>
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold"><a href="{% url 'post_detail' post.pk %}"><h3>{{ post.title }}</h3></a></span>
                </div>
                <div class="card-body">
                    <p>{{ post.body | slice:":101" }}</p>
                </div>
            </div>
        </li>
    {% endfor %}

{% endblock content %}