{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card-body">
        <h1 class="card-title">{{ object.title }}</h1>
        <p class="card-text">{{ object.body | safe }}</p>
        {% if object.photo %}
            <img class="card-img-top" width="850" height="630" src="{{ object.photo.url }}" alt="{{ object.title }}">
        {% endif %}
        </br>
        <h6 class="card-subtitle mb-2 text-muted">Muallif: {{ object.author.title }} | {{ object.date }}</h6>
    </div>
{% endblock content %}