{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Saytga kirish</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Kirish</button>

        <div>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </div>
        <div>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </div>

        <div>
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    </form>
{% endblock content %}